VITE_GAS_URL=https://script.google.com/macros/s/AKfycbyo_gnEeKuDJD_1usBKk5GMt2KBwRDJzMPjok18MHfJGh1C2rbCLMACxN6M7jStaz30RQ/exec
VITE_GAS_API_KEY=CHANGE_ME_SECURE_KEY
VITE_ENABLE_DEBUG_COLLECTOR=false
